#map.edit{
    .box-map,
    .nav-tabs-custom{
        margin-bottom: 0;
    }

    #controls-view{
        #tab-layers{
            margin-right: -10px;
        }

        .tab-pane{
            height: 100%;
        }

        .box-wrapper{
            margin-right:10px;
        }
    }

    #layers{
        .sort-highlight{
            margin-bottom: 20px;
        }
    }


    #map-view{
        min-height: 600px;
        height: 100%;
        background-color: lighten($gray-lighter, 5%);
    }

    .sublist-wrapper{
        border: 1px solid #ccc;
        height: 80px;
        overflow: hidden;

        .form-group{
            margin-bottom: 0;
            padding: 5px 5px 5px 5px;

            .control-label{
                font-size: 11px;
                // padding: 2px 0;
                margin-bottom: 0;
                color: #555;
            }

            .form-control{
                &.colorpicker{
                    min-width: auto;
                }
            }

            & + .form-group{
                border-top: 1px solid #eee;
            }
        }
    }

    .input-xs,
    .input-group-xs .form-control,
    .input-group-xs > .input-group-addon,
    .input-group-xs > .input-group-btn > .btn{
        height: 20px;
        padding: 2px 4px;
        font-size: 11px;
        line-height: 1.2;



    }

    .input-group-xs{

        .select2-container-xs{
            padding: 2px 4px;
            height: 20px;
            font-size: 11px;

            .select2-selection__rendered{
                line-height: 20px;
            }

            .select2-selection__arrow{
                height: 20px;
                right: 0;
                width: 14px;
            }

            .select2-selection__arrow b{
                margin-top: -3px;
                border-width: 4px 3px 0 3px;
            }

        }

        .select2-container--open{
            .select2-selection__arrow b{
                border-width: 0 3px 4px 3px;
            }

            .select2-dropdown--below{
                font-size: 11px;
            }
        }
    }

    .select2-dropdown-xs{
        font-size: 11px;
        .select2-results__option{
            padding: 3px 4px;
        }

        .select2-search--dropdown {
            padding: 2px;
            .select2-search__field{
                padding: 2px;
            }
        }
    }







}