#map.index{
    .widget-user{
        .widget-user-header{
            position: relative;
            overflow: hidden;

            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: $gray-dark;
                opacity: 0.75;

            }

            .widget-user-username{
                position: relative;
                font-weight: 500;
                font-size: 20px;

            }
            .widget-user-desc{
                position: relative;

                .fa{
                    font-size: 10px;
                }
            }
        }

        .box-footer{
            padding-top: 10px;
        }
    }
}